<!doctype html>
<html lang="en">
    <head>
        <title>Review Applications</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="/stylesheets/header.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="px-3 py-2 bg-dark text-white">
                <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <span>No Poor Among Us - Admin</span>
                    </div>
        
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="adminmanage" class="nav-link text-white">
                        <div class="row">
                            <span data-feather="list"></span>
                        </div>
                        <div class="row gy-1" style="text-align: center;">
                            <span>Manage</span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-secondary">
                        <div class="row">
                            <span data-feather="file-text"></span>
                        </div>
                        <div class="row gy-1" style="text-align: center;">
                            <span>Applications</span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="logout" class="nav-link text-white">
                        <div class="row">
                            <span data-feather="log-out"></span>
                        </div>
                        <div class="row gy-1" style="text-align: center;">
                            <span>Log Out</span>
                        </div>
                        </a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </header>

        <main>
            <!-- If there are applications to place it goes in-->
            <% if(locals.applications[0].length > 0) { %>
                <!-- For Loop that loops the total amount of applications / 5 -->
                <!-- Does this because I put a new row in every 5 applications-->
                <% for(var i = 0; i < Math.ceil((locals.applications[0].length)/5); i++) { %>
                    <div class="row">
                        <!-- For Loop for each of the 5 applications in the row -->
                        <% for(var j = 0; j < 5; j++) { %>
                            <!-- If there are no more applications to place it ends -->
                            <% if(locals.applications[0].length <= ((i * 5) + j)) { %>
                                <% break; %>
                                <!-- Creates the Card and fills the information dynamically -->
                            <% } else { %>
                                <div class="col">
                                    <div class="card border-info m-3" style="max-width: 18rem;">
                                        <div class="card-header"><%- locals.applications[0][((i * 5) + j)].ApplicationStatus %></div>
                                        <div class="card-body text-dark">
                                            <h5 class="card-title"><%- locals.applications[0][((i * 5) + j)].FirstName %> <%- locals.applications[0][((i * 5) + j)].LastName %></h5>
                                            <p class="card-text"><%- locals.applications[0][((i * 5) + j)].Narrative %></p>
                                            <!-- Button trigger for modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal<%- locals.applications[0][((i * 5) + j)].ApplicationID %>">
                                                More Details
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Modal -->
                                <!-- The Modal is a copy and pasted apply.ejs -->
                                <!-- The fields are dynamically filled and are locked -->
                                <!-- The Ids for the inputs are all unique as I stick the ApplicationID on the back -->
                                <!-- The Value attributes store the info that is displayed to the user -->
                                <div class="modal fade" id="modal<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="#exampleModalLabel">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                    <!-- First and Last Name -->
                                               <div class="row">
                                                <div class="col">
                                                    <div class="form-floating m-3">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            name="firstName"
                                                            id="firstName<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            value="<%- locals.applications[0][((i * 5) + j)].FirstName %>"
                                                            disabled
                                                        />
                                                        <label for="firstName<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" class="form-label">First Name</label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-floating m-3">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            name="lastName"
                                                            id="lastName<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            value="<%- locals.applications[0][((i * 5) + j)].LastName %>"
                                                            disabled
                                                        />
                                                        <label for="lastName<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" class="form-label">Last Name</label>
                                                    </div>  
                                                </div>
                                            </div>
                            
                                            <!-- Date of Birth -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-floating m-3">
                                                        <!-- options gives us the formatting we want -->
                                                        <!-- toLocaleDateString converts the raw output to a formatted output -->
                                                        <input
                                                        <% const options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
                                                            type="text"
                                                            class="form-control"
                                                            name="dateOfBirth"
                                                            value="<%- (locals.applications[0][((i * 5) + j)].DateOfBirth).toLocaleDateString('en-US', options) %>"
                                                            id="dateOfBirth<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            disabled
                                                        />
                                                        <label for="dateOfBirth<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" class="form-label">Date of Birth</label>
                                                    </div>  
                                                </div>
                                            </div>
                            
                                            <!-- Address -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-floating m-3">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            name="address"
                                                            id="address<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            value="<%- locals.applications[0][((i * 5) + j)].Address %>"
                                                            disabled
                                                        />
                                                        <label for="address<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" class="form-label">Address</label>
                                                    </div>
                                                </div> 
                                            </div>
                            
                                            <!-- School Level and GPA -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-floating m-3">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            name="schoolLevel"
                                                            id="schoolLevel<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            value="<%- locals.applications[0][((i * 5) + j)].SchoolLevel %>"
                                                            disabled
                                                        />
                                                        <label for="schoolLevel<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" class="form-label">School Level</label>
                                                    </div>  
                                                </div>
                                                <div class="col">
                                                    <div class="form-floating m-3">
                                                        <input
                                                            type="number"
                                                            step="0.01"
                                                            class="form-control"
                                                            name="publicSchoolGPA"
                                                            id="publicSchoolGPA<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            value="<%- locals.applications[0][((i * 5) + j)].PublicSchoolGPA %>"
                                                            disabled
                                                        />
                                                        <label for="publicSchoolGPA<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" class="form-label">Public School GPA</label>
                                                    </div>  
                                                </div>
                                            </div>
                            
                                            <!-- Annual Income -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-floating m-3">
                                                        <input
                                                            type="number"
                                                            step="0.01"
                                                            class="form-control"
                                                            name="annualIncome"
                                                            id="annualIncome<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            value="<%- locals.applications[0][((i * 5) + j)].AnnualIncome %>"
                                                            disabled
                                                        />
                                                        <label for="annualIncome<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" class="form-label">Annual Income</label>
                                                    </div>  
                                                </div>
                                            </div>
                            
                                            <!-- Other Contact (Email) -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-floating m-3">
                                                        <input
                                                            type="email"
                                                            class="form-control"
                                                            name="otherContact"
                                                            id="otherContact<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            value="<%- locals.applications[0][((i * 5) + j)].OtherContact %>"
                                                            disabled
                                                        />
                                                        <label for="otherContact<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" class="form-label">Email</label>
                                                    </div>  
                                                </div> 
                                            </div>
                            
                                            <!-- Narrative -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-floating m-3">  
                                                        <textarea 
                                                            class="form-control" 
                                                            id="narrative<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" 
                                                            name="narrative" 
                                                            disabled
                                                            style="height: 200px;"
                                                        >
                                                        <%- locals.applications[0][((i * 5) + j)].Narrative %>
                                                        </textarea>
                                                        <label for="narrative<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" class="form-label">Narrative - Why do you want to be in the program?</label>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <!-- Transportation Assistance -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-check m-3">
                                                        <!-- The If Statement Checks if the box was checked and checks the box dynamically -->  
                                                        <input
                                                            class="form-check-input"
                                                            type="checkbox"
                                                            name="needTransportationAssistance"
                                                            value="1"
                                                            id="transportation<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            disabled

                                                            <% if(locals.applications[0][((i * 5) + j)].NeedTransportationAssistance == 1) { %>
                                                                checked
                                                            <% } %>
                                                        />
                                                        <label class="form-check-label" for="transportation<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"> Do you require Transportation Assistance? </label>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <!-- Meal Assistance -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-check m-3">  
                                                        <!-- The If Statement Checks if the box was checked and checks the box dynamically -->  
                                                        <input
                                                            class="form-check-input"
                                                            type="checkbox"
                                                            name="needMealAssistance"
                                                            value="1"
                                                            id="meal<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"
                                                            disabled

                                                            <% if(locals.applications[0][((i * 5) + j)].NeedMealAssistance == 1) { %>
                                                                checked
                                                            <% } %>
                                                        />
                                                        <label class="form-check-label" for="meal<%- locals.applications[0][((i * 5) + j)].ApplicationID %>"> Do you require Meal Assistance? </label>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- Payload {Id = ApplicationId, action = Accept} -->
                                                <form method="post">
                                                    <button type="submit" class="btn btn-success">Accept</button>
                                                    <input type="hidden" name="id" value="<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" >
                                                    <input type="hidden" name="action" value="Accept" >
                                                </form>
                                                <!-- Payload {Id = ApplicationId, action = Decline} -->
                                                <form method="post">
                                                    <button type="submit" class="btn btn-danger">Decline</button>
                                                    <input type="hidden" name="id" value="<%- locals.applications[0][((i * 5) + j)].ApplicationID %>" >
                                                    <input type="hidden" name="action" value="Decline" >
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
            <!-- If there are no Appilcations then the First If Statement goes here and nothing above is used-->
            <% } else { %>
                <p class="text-center">No applications need to be actioned</p>
            <% } %>
        </main>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
        feather.replace()
        </script>
    </body>
</html>
