<!doctype html>
<html lang="en">
    <head>
        <title>Admin Portal</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <link href="/stylesheets/header.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="px-3 py-2 bg-dark text-white">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                            <span>No Poor Among Us - Admin</span>
                        </div>
                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a href="adminmanage" class="nav-link text-secondary">
                                    <div class="row">
                                        <span data-feather="list"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Manage</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="adminapplication" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="file-text"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Applications</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="logout" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="log-out"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Log Out</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <!-- For Loop that loops the total amount of applications / 5 -->
            <!-- Does this because I put a new row in every 5 applications-->
            <% for(var i = 0; i < Math.ceil((locals.users.length)/5); i++) { %>
                <div class="row">
                    <!-- For Loop for each of the 5 applications in the row -->
                    <% for(var j = 0; j < 5; j++) { %>
                        <!-- If there are no more applications to place it ends -->
                        <% if(locals.users.length <= ((i * 5) + j)) { %>
                            <% break; %>
                            <!-- Creates the Card and fills the information dynamically -->
                        <% } else { %>
                            <% if(locals.users[((i * 5) + j)].UserType == "Admin" && locals.god == true) { %>
                                <div class="col">
                                    <div class="card border-danger m-3" style="max-width: 18rem;">
                                        <div class="card-header">Admin</div>
                                        <div class="card-body text-dark">
                                        <h5 class="card-title"><%- locals.users[((i * 5) + j)].FirstName %>  <%- locals.users[((i * 5) + j)].LastName %></h5>
                                        <p class="card-text"><%- locals.users[((i * 5) + j)].Email %></p>
                                        <!-- Button trigger for modal -->
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal<%- locals.users[((i * 5) + j)].UserID %>">
                                            More Details
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            <% } else if(locals.users[((i * 5) + j)].UserType == "Instructor") { %>
                                <div class="col">
                                    <div class="card border-success m-3" style="max-width: 18rem;">
                                        <div class="card-header">Instructor</div>
                                        <div class="card-body text-dark">
                                        <h5 class="card-title"><%- locals.users[((i * 5) + j)].FirstName %>  <%- locals.users[((i * 5) + j)].LastName %></h5>
                                        <p class="card-text"><%- locals.users[((i * 5) + j)].Email %></p>
                                        <!-- Button trigger for modal -->
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal<%- locals.users[((i * 5) + j)].UserID %>">
                                            More Details
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            <% } else if(locals.users[((i * 5) + j)].UserType == "SocialWorker") { %>
                                <div class="col">
                                    <div class="card border-info m-3" style="max-width: 18rem;">
                                        <div class="card-header">Social Worker</div>
                                        <div class="card-body text-dark">
                                        <h5 class="card-title"><%- locals.users[((i * 5) + j)].FirstName %>  <%- locals.users[((i * 5) + j)].LastName %></h5>
                                        <p class="card-text"><%- locals.users[((i * 5) + j)].Email %></p>
                                        <!-- Button trigger for modal -->
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal<%- locals.users[((i * 5) + j)].UserID %>">
                                            More Details
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            <% } else if(locals.users[((i * 5) + j)].UserType == "Sponsor") { %>
                                <div class="col">
                                    <div class="card border-warning m-3" style="max-width: 18rem;">
                                        <div class="card-header">Sponsor</div>
                                        <div class="card-body text-dark">
                                        <h5 class="card-title"><%- locals.users[((i * 5) + j)].FirstName %>  <%- locals.users[((i * 5) + j)].LastName %></h5>
                                        <p class="card-text"><%- locals.users[((i * 5) + j)].Email %></p>
                                        <!-- Button trigger for modal -->
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal<%- locals.users[((i * 5) + j)].UserID %>">
                                            More Details
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            <% } else if(locals.users[((i * 5) + j)].UserType == "Owner") { %>
                                <div class="col">
                                    <div class="card border-primary m-3" style="max-width: 18rem;">
                                        <div class="card-header">Owner</div>
                                        <div class="card-body text-dark">
                                        <h5 class="card-title"><%- locals.users[((i * 5) + j)].FirstName %>  <%- locals.users[((i * 5) + j)].LastName %></h5>
                                        <p class="card-text"><%- locals.users[((i * 5) + j)].Email %></p>
                                        <!-- Button trigger for modal -->
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal<%- locals.users[((i * 5) + j)].UserID %>">
                                            More Details
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            <% } %>

                            <div class="col">
                                <div class="card border-info m-4" style="max-width: 9rem;">
                                    <div class="card-body text-dark">
                                        <!-- Button trigger for modal -->
                                        <button type="button" class="btn btn-secondary mx-auto p-3 d-block" data-bs-toggle="modal" data-bs-target="#modal">
                                            <span data-feather="plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                
                            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="#exampleModalLabel">Create User</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating m-3">
                                                            <div class="form-group">
                                                                <label for="userType">Type of User</label>
                                                                <select class="form-control" id="userType" name="userType">
                                                                <% if(locals.god == true) { %>
                                                                    <option value="Admin">Admin</option>
                                                                <% } %>
                                                                <option value="Instructor">Instructor</option>
                                                                <option value="SocialWorker">Social Worker</option>
                                                                <option value="Sponsor">Sponsor</option>
                                                                <option value="Owner">Owner</option>
                                                                </select>
                                                            </div>
                                                        </div>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating m-3">
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                name="firstName"
                                                                id="firstName"
                                                                placeholder="First Name"
                                                                required
                                                            />
                                                            <label for="firstName" class="form-label">First Name</label>
                                                        </div>  
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-floating m-3">
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                name="lastName"
                                                                id="lastName"
                                                                placeholder="Last Name"
                                                                required
                                                            />
                                                            <label for="lastName" class="form-label">Last Name</label>
                                                        </div>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating m-3">
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                name="email"
                                                                id="email"
                                                                placeholder="Email"
                                                                required
                                                            />
                                                            <label for="firstName" class="form-label">Email</label>
                                                        </div>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating m-3">
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                name="password"
                                                                id="password"
                                                                placeholder="Password"
                                                                required
                                                            />
                                                            <label for="firstName" class="form-label">Password</label>
                                                        </div>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <button type="submit" class="btn btn-success">Create User</button>
                                                        <input type="hidden" name="action" value="CreateUser" >
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal for More Details -->
                            <div class="modal fade" id="modal<%- locals.users[((i * 5) + j)].UserID %>" tabindex="-1" aria-labelledby="exampleModalLabel<%- locals.users[((i * 5) + j)].UserID %>" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel<%- locals.users[((i * 5) + j)].UserID %>">Manage <%- locals.users[((i * 5) + j)].FirstName %> <%- locals.users[((i * 5) + j)].LastName %></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <% if(locals.users[((i * 5) + j)].UserType == "Sponsor") { %>
                                                <form method="post" action="/adminmanage/assignSponsor">
                                                    <input type="hidden" name="sponsorID" value="<%= locals.users[((i * 5) + j)].UserID %>">
                                                    <div class="mb-3">
                                                        <label for="studentID<%= locals.users[((i * 5) + j)].UserID %>" class="form-label">Select Student</label>
                                                        <select class="form-select" id="studentID<%= locals.users[((i * 5) + j)].UserID %>" name="studentID" required>
                                                            <% locals.students.forEach(student => { %>
                                                                <option value="<%= student.StudentID %>"><%= student.FirstName %> <%= student.LastName %></option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Assign Sponsor</button>
                                                </form>
                                                <form method="post" action="/adminmanage/removeSponsor" class="mt-2">
                                                    <input type="hidden" name="sponsorID" value="<%= locals.users[((i * 5) + j)].UserID %>">
                                                    <div class="mb-3">
                                                        <label for="studentIDRemove<%= locals.users[((i * 5) + j)].UserID %>" class="form-label">Select Student</label>
                                                        <select class="form-select" id="studentIDRemove<%= locals.users[((i * 5) + j)].UserID %>" name="studentID" required>
                                                            <% locals.students.forEach(student => { %>
                                                                <option value="<%= student.StudentID %>"><%= student.FirstName %> <%= student.LastName %></option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-danger">Remove Sponsor</button>
                                                </form>
                                            <% } %>
                                            <!-- Existing form for changing user type and removing user -->
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col m-3">
                                                        <select class="form-select" aria-label="Default select example" name="NewUserType">
                                                            <option selected>Select New User Type</option>
                                                            <option value="Admin">Admin</option>
                                                            <option value="Instructor">Instructor</option>
                                                            <option value="SocialWorker">Social Worker</option>
                                                            <option value="Sponsor">Sponsor</option>
                                                            <option value="Owner">Owner</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <div class="m-3">  
                                                            <button class="btn btn-danger" type="submit">Change User Type</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="action" value="ChangeUserType" >
                                                <input type="hidden" name="id" value="<%- locals.users[((i * 5) + j)].UserID %>" >
                                            </form>
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="m-3">  
                                                            <button class="btn btn-danger" type="submit">Remove User</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="action" value="RemoveUser" >
                                                <input type="hidden" name="id" value="<%- locals.users[((i * 5) + j)].UserID %>" >
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            <% } %>

            <!-- For Loop that loops the total amount of students / 5 -->
            <!-- Does this because I put a new row in every 5 students-->
            <% for(var i = 0; i < Math.ceil((locals.students.length)/5); i++) { %>
                <div class="row">
                    <!-- For Loop for each of the 5 students in the row -->
                    <% for(var j = 0; j < 5; j++) { %>
                        <!-- If there are no more students to place it ends -->
                        <% if(locals.students.length <= ((i * 5) + j)) { %>
                            <% break; %>
                            <!-- Creates the Card and fills the information dynamically -->
                        <% } else { %>
                            <div class="col">
                                <form method="post">
                                    <% if(locals.students[((i * 5) + j)].Status == "Active") { %>
                                        <div class="card border-success m-3" style="max-width: 18rem;">
                                    <% } else if(locals.students[((i * 5) + j)].Status == "Inactive") { %>
                                        <div class="card border-danger m-3" style="max-width: 18rem;">
                                    <% } %>
                                        <div class="card-header">Student</div>
                                        <div class="card-body text-dark">
                                        <h5 class="card-title"><%- locals.students[((i * 5) + j)].FirstName %>  <%- locals.students[((i * 5) + j)].LastName %></h5>
                                        <p class="card-text"><%- locals.students[((i * 5) + j)].Status %></p>
                                        <% if(locals.students[((i * 5) + j)].Status == "Active") { %>
                                            <button type="submit" class="btn btn-danger">
                                                Set Inactive
                                            </button>
                                            <input type="hidden" name="status" value="Inactive" >
                                        <% } else if(locals.students[((i * 5) + j)].Status == "Inactive") { %>
                                            <button type="submit" class="btn btn-success">
                                                Set Active
                                            </button>
                                            <input type="hidden" name="status" value="Active" >
                                        <% } %>
                                            <input type="hidden" name="action" value="SetStatus" >
                                            <input type="hidden" name="id" value="<%- locals.students[((i * 5) + j)].StudentID %>" >
                                        </div>
                                    </div>
                                </form>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </main>

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>feather.replace()</script>
    </body>
</html>