<!doctype html>
<html lang="en">
    <head>
        <title>Assessments</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="/stylesheets/header.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="px-3 py-2 bg-dark text-white">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                            <span>No Poor Among Us - Instructor</span>
                        </div>
            
                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a href="instructorcourses" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="book"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Courses</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-secondary">
                                    <div class="row">
                                        <span data-feather="book-open"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Assessments</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="instructorgradebook" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="clipboard"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Gradebook</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="instructorattendence" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="users"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Attendence</span>
                                    </div>
                                </a>
                            </li>
                            <li style="display: grid; align-items: center;">
                                <a href="instructorcertificates" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="file-plus"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Certificates</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="logout" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="log-out"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Log Out</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <% if(locals.assignments && locals.assignments[0].length > 0) { %>
                <!-- Similar loop for applications -->
                <!-- makes a new row for every 6 assignments in a course-->
                <% for(var i = 0; i < Math.ceil((locals.assignments[0].length)/6); i++) { %>
                    <div class="row">
                        <% for(var j = 0; j < 6; j++) { %>
                            <% if(locals.assignments[0].length <= ((i * 6) + j)) { %>
                                <% break; %>
                                <!-- Creates the Assignment Cards -->
                            <% } else { %>
                                <div class="col">
                                    <div class="card border-info m-3" style="max-width: 18rem;">
                                        <div class="card-header">Assessment</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title"><%- locals.assignments[0][((i * 6) + j)].AssignmentName %></h5>
                                          <p class="card-text"><%- locals.assignments[0][((i * 6) + j)].Description %></p>
                                          <button type="button" class="btn btn-secondary mx-auto p-3 d-block" data-bs-toggle="modal" data-bs-target="#edit<%- locals.assignments[0][((i * 6) + j)].AssignmentID %>">Edit</button> 
                                        </div>
                                        <div class="card-footer text-center"><%- locals.assignments[0][((i * 6) + j)].PointsPossible %> Points</div>
                                    </div>
                                </div>

                                <div class="modal fade" id="edit<%- locals.assignments[0][((i * 6) + j)].AssignmentID %>" tabindex="-1" aria-labelledby="exampleModalLabel<%- locals.assignments[0][((i * 6) + j)].AssignmentID %>" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="#exampleModalLabel1">Edit Assignment <%- locals.assignments[0][((i * 6) + j)].AssignmentName %></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST">
                                                    <input type="hidden" name="AssignmentID" value="<%= locals.assignments[0][(i * 6) + j].AssignmentID %>">
                                                    <input type="hidden" name="action" value="edit_assignment">
                                                    <div class="mb-3">
                                                        <label for="AssignmentName<%= locals.assignments[0][(i * 6) + j].AssignmentID %>" class="form-label">Assignment Name</label>
                                                        <input type="text" class="form-control" id="AssignmentName<%= locals.assignments[0][(i * 6) + j].AssignmentID %>" 
                                                               name="AssignmentName"
                                                               value="<%= locals.assignments[0][(i * 6) + j].AssignmentName %>" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="Description<%= locals.assignments[0][(i * 6) + j].AssignmentID %>" class="form-label">Description</label>
                                                        <textarea class="form-control" id="Description<%= locals.assignments[0][(i * 6) + j].AssignmentID %>" 
                                                                  name="Description"><%= locals.assignments[0][(i * 6) + j].Description %></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="PointsPossible<%= locals.assignments[0][(i * 6) + j].AssignmentID %>" class="form-label">Points Possible</label>
                                                        <input type="number" class="form-control" id="PointsPossible<%= locals.assignments[0][(i * 6) + j].AssignmentID %>" 
                                                               name="PointsPossible" 
                                                               value="<%= locals.assignments[0][(i * 6) + j].PointsPossible %>" required>
                                                    </div>
                                                        <button type="submit" class="btn btn-success">Save Changes</button>
                                                </form>
                                                <form method="POST" onsubmit="return confirm('Are you sure you want to delete this assignment?');">
                                                    <input type="hidden" name="action" value="delete_assignment">
                                                    <input type="hidden" name="AssignmentID" value="<%= locals.assignments[0][(i * 6) + j].AssignmentID %>">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
            <!-- If there are no Courses then the First If Statement goes here and nothing above is used-->
            <% } else { %>
                <p class="text-center">No Assignments created</p>
            <% } %>


            <div class="col">
                <div class="card border-info m-4" style="max-width: 9rem;">
                    <div class="card-body text-dark">
                        <!-- Button trigger for modal -->
                        <button type="button" class="btn btn-secondary mx-auto p-3 d-block" data-bs-toggle="modal" data-bs-target="#modal">
                            <span data-feather="plus"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="#exampleModalLabel1">Create Assignment</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <input type="hidden" name="action" value="create_assignment">
                                <div class="mb-3">
                                    <label for="AssignmentName" class="form-label">Assignment Name</label>
                                    <input type="text" class="form-control" id="AssignmentName" 
                                           name="AssignmentName" required >
                                </div>
                                <div class="mb-3">
                                    <label for="Description" class="form-label">Description</label>
                                    <textarea class="form-control" id="Description" 
                                              name="Description"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="PointsPossible" class="form-label">Points Possible</label>
                                    <input type="number" class="form-control" id="PointsPossible" 
                                           name="PointsPossible" required>
                                </div>
                                    <button type="submit" class="btn btn-success">Create Assignment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
        feather.replace()
        </script>
    </body>
</html>
